<div class="container text-center my-3">
    <div class="jumbotron bg-dark text-white">
        <h1>Random</h1>
        <div class="jumbotron text-dark">
            <h1>{{cant}}</h1>
        </div>

    </div>
    
</div>

{{!-- {contador, datos: {nombre, direccion}} --}}